<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Usuario CRUD</title>
    <style>.cssError { background-color:red; } </style>
</head>
<body>
<h1>Editar usuario</h1>
<form method="post" action="#" th:action="@{/usuario/editar/{id}/submit(id=${usuarioForm.id})}" th:object="${usuarioForm}">
    <label>Id: <input type="text" readonly id="id" th:field="*{id}" /> </label><br/>
    <label>Nombre: <input type="text" id="nombre" th:field="*{nombre}" /></label><br/>
    <label>Contraseña: <input type="text" id="password" th:field="*{password}" /></label><br/>

    Rol:<br/>
    <div th:each="rol : ${T(com.chedacandalesborja.bcc0601.Models.Rol).values()}">
        <input type="radio" name="button1" th:value="${rol}" th:text="${rol}"
               th:field="*{rol}" />
    </div>
    <input type="submit" value="Editar Usuario"/>
</form>
<a th:href="@{/}">Inicio</a><br/>
</body>
</html>