<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Empleado CRUD</title>
</head>
<body>
<table class="table table-spinner">
    <thead>
    <th>ID</th><th>Nombre</th><th>Salario</th><th>Departamento</th>
    </thead>
    <tbody>
    <tr th:each="empleado : ${listaEmpleados}">
        <td th:text="${empleado.id}">Id</td>
        <td th:text="${empleado.nombre}">nombre</td>
        <td th:text="${empleado.salario}">salario</td>
        <td th:text="${empleado.departamentoNombre}">departamento</td>
    </tr>
    </tbody>
</table>
<a th:href="@{/}">Inicio</a><br/>

</body>
</html>