<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Empleado CRUD</title>
    <style>.cssError { background-color:red; } </style>
</head>
<body>
<h1>Nuevo empleado</h1>
<form method="post" action="#" th:action="@{/nuevo/submit}" th:object="${empleadoForm}" enctype="multipart/form-data">
    <label>Nombre: <input type="text" id="nombre" th:field="*{nombre}" /></label><br/>
    <div th:classappend="${#fields.hasErrors('email')} ? 'cssError'">
        <label>Email:<input type="text" id="email" th:field="*{email}"/>
            <span th:if="${#fields.hasErrors('email')}"
                  th:errors="*{email}" class="cssError">texto error</span>
        </label>
    </div>
    <label>Salario: <input type="text" id="salario" th:field="*{salario}" /></label><br/>
    <label>En Activo:<input type="checkbox" id="enActivo" th:field="*{enActivo}" ></label><br/>
    Genero:<br/>
    <div th:each="gen : ${T(com.chedacandalesborja.bcc0601.Models.Genero).values()}">
        <input type="radio" name="button1" th:value="${gen}" th:text="${gen}"
               th:field="*{genero}" />
    </div>
    Departamento:<br/>
    <select name="list1" th:field="*{departamento}">
        <option value="0">select option</option> <!--opcion por defecto-->
        <option th:each="departamento:${listaDepartamentos}"
                th:value="${departamento.id}" th:text="${departamento.nombre}">
        </option>
    </select><br/>
    Categoria:<br/>
    <select name="list2" th:field="*{categoria}">
        <option value="0">select option</option> <!--opcion por defecto-->
        <option th:each="categoria:${listaCategorias}"
                th:value="${categoria.id}" th:text="${categoria.nombre}">
        </option>
    </select><br/>
    <input type="submit" value="Enviar"/>
</form>
<a th:href="@{/static}">Inicio</a><br/>
</body>
</html>