<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Empleado CRUD</title>
    <style> h1 {
        background-color: red;
    }
    </style>
</head>
<body>
<h1>El nombre de usuario que estás intentando crear o editar ya existe. Escoge otro distinto.</h1>

<a th:href="@{/producto/}">Página Principal</a><br/>
</body>
</html>